".text.html.vue":
  "Vue Component":
    "prefix": "template"
    "body": """
      <template lang="${1:html}">
        $3
      </template>

      <script>
      export default {
        props: {},
        data() {
          return {
          };
        },
        components: {},
        computed: {},
        methods: {},
        attached: function() {},
        ready: function() {},
      };
      </script>

      <style lang="${2:css}">
      </style>

    """
